body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin:0;
  padding: 0;
  background-image: url(../flags/background.png);
  -moz-background-size: 100vw 100vh;
  -o-background-size:  100vw 100vh;
  -webkit-background-size:  100vw 100vh;
  background-size:  100vw 100vh;
  fill: white;
}

#headerDiv{
  background-color: transparent;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: white;
  line-height: 12vh;
  width: 100vw;
  height:12vh;
  text-transform: capitalize;
}
#buttonsDiv{
  height: 15vh;
  width: 100vw;
}
#chartDiv{
  position: absolute;
  left: 12vw;
  top: 27vh;
  float: left;
  background-color:  transparent;
  width: calc(100vw - 24vw);
  height: calc(100vh - 39vh);
}

.buttonText{
  fill: white;
  text-transform: capitalize;
  pointer-events: none;
}

.buttonRect, .mapPath{
  cursor: pointer;
}

.filterButtonRect{
  fill: #F0F0F0;
  stroke: #707070;
  cursor: pointer;
}

.filterButtonText{
  pointer-events: none;
  fill: white;
}
#market{
  fill: #3091BE;
}

#umrahme{
  fill: #4C1088
}

#grey{
  color: #707070;
}

#tooltip{
  text-transform: capitalize;
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  padding: 3px;
  background: #3091BE;
  pointer-events: none;
  font-size: 1em;
  width: auto;
  height: auto;
  color: white;
  margin-right: 80px;
}

#logoImage{
  position: absolute;
  padding: 0px;
  width: 107px;
  height: 39px;
  left: calc(100vw - 137px);
  top: calc(100vh - 69px);
}

#patternImage{
  position: absolute;
  padding: 0px;
  width: 96px;
  height: 27px;
  left: calc(100vw - 95px);
  top: 30px;
}

#englishImage{
  cursor: pointer;
  position: absolute;
  padding: 0px;
  width: 218px;
  height: 176px;
  left: calc(50vw - 223px);
  top: calc(50vh - 88px);
}

#arabicImage{
  cursor: pointer;
  position: absolute;
  padding: 0px;
  width: 218px;
  height: 176px;
  left: calc(50vw + 5px);
  top: calc(50vh - 88px);
}

.tooltipTitle{
  font-size: 0.9em;
}


.legendTitle, .dataPosition{
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  fill: white;
}

.largerTitle{
  fill: white;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.countryCounter{
  text-anchor: middle;
  fill: white;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.countryCounterSmall{
  text-anchor: middle;
  fill: white;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
}

.legendNumber {
  font-size: 0.8em;
  fill: white;
}

.valueLabel{
  font-size: 0.9em;
  fill: white;
}
.clickableGlobeItem {
  cursor: pointer;
}

.backgroundBar{
  fill: #F0F0F0;
}

.axis text{
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  fill: white;
}
.axis line,.brushAxis line {
  display: none;
}
.axis path ,.brushAxis path{
  stroke: white;
}
.histogramText{
  font-size: 1.2em;
  fill: white;
}
.midAxis .tick text {
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  fill: white;
}

.brushAxis .tick text {
  font-family: 'Open Sans', sans-serif;
  fill: white;
}

.midAxis line,.midAxis path {
  display: none;
}
