body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin:0;
  padding: 0;
  background-image: url(../flags/background.png);
  -moz-background-size: 100vw 100vh;
  -o-background-size:  100vw 100vh;
  -webkit-background-size:  100vw 100vh;
  background-size:  100vw 100vh;
}

#headerDiv{
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 12vh;
  width: 100vw;
  height:12vh;
}
#buttonsDiv{
  height: 70px;
  width: 100vw;
}
#chartDiv{
  position: absolute;
  left: 12vw;
  top: calc(12vh + 70px);
  float: left;
  background-color:  transparent;
  width: calc(100vw - 24vw);
  height: calc(100vh - 24vh - 30px);
}

.buttonText{
  fill: white;
  text-transform: capitalize;
  pointer-events: none;
}

.buttonRect, .mapPath{
  cursor: pointer;
}

.filterButtonRect{
  fill: #F0F0F0;
  stroke: #707070;
  cursor: pointer;
}

.filterButtonText{
  text-transform: capitalize;
  pointer-events: none;
  font-size: 0.8em;
  fill: #707070;
}
#market{
  fill: #3091BE;
}

#umrahme{
  fill: #4C1088
}

#grey{
  color: #707070;
}

#tooltip{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.8em;
  width: auto;
  height: auto;
  margin-right: 80px;
}

.legendTitle, .dataPosition{
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.largerTitle{
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.legendNumber {
  font-size: 0.9em;
  fill: #707070;
}

.valueLabel{
  font-size: 0.9em;
  fill: #707070;
}
.clickableGlobeItem {
  cursor: pointer;
}

.backgroundBar{
  fill: #F0F0F0;
}

.axis text{
  font-size: 1.2em;
}
.axis line,.brushAxis line {
  display: none;
}
.axis path ,.brushAxis path{
  stroke: #D0D0D0;
}
.histogramText{
  font-size: 1.2em;
}
.midAxis .tick text {
  font-size: 1.4em;
}


.midAxis line,.midAxis path {
  display: none;
}
